body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 5fr;
  background-color: aqua;
}
.sidebar {
  background-color: #1992d4;
  grid-area: 1/1/ 3/2;
  display: grid;
  align-content: start;
  gap: 3rem;
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: bold;
  padding-right: 0.5rem;
}
.header {
  background-color: #ffffff;
  grid-area: 1/2/ 2/3;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.main-content {
  background-color: #e2e8f0;
  grid-area: 2/2/ 3/3;
}

.home ul,
.settings ul {
  padding: 0px;
  margin: 0px;
}
.home li,
.settings li {
  list-style-type: none;
  padding-bottom: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}
.logo-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.logo-container img {
  padding: 0px;
}
.home,
.settings {
  padding-left: 2rem;
  font-size: 1.5rem;
}
.profile-pic {
  width: 4rem;
}

.top-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

.search {
  display: flex;
  gap: 0.5rem;
  padding-right: 1rem;
}
.search input {
  flex: 1;
  background-color: #e2e8f0;
  border-radius: 16px;
  border: none;
}

.ring {
  justify-self: end;
}
.profile-pic {
  justify-self: center;
}
.user-name {
  justify-self: start;
  font-weight: bold;
}

.bottom-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

.profile-pic-large {
  width: 5.5rem;
}

button {
  background-color: #1992d4;
  border-radius: 16px;
  border: none;
  color: #ffffff;
  padding: 10px;
  width: 5rem;
  justify-self: center;
  font-weight: bold;
}
.greet {
  display: flex;
  gap: 1rem;
}
.name-text {
  font-weight: bold;
  font-size: 0.9rem;
  display: grid;
  align-content: center;
  gap: 0.5rem;
}
.name-text p {
  margin-block: 0px;
}
.big-name {
  font-size: 1.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Card styling */

.card {
  /* height: 220px; */

  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: grid;
  grid-template-columns: 3% 1fr;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  align-content: stretch;
}
.card:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.3); /* Adjust the box-shadow on hover */
}
.stripe {
  grid-area: 1/1/2/2;
  background-color: #f0b429;
  height: 100%;
}
.icons {
  justify-self: end;
  margin-top: 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.rest-of-card {
  padding: 1.5rem;
  display: grid;
}
.card p {
  margin: 0px;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 4px;
}

/* .head {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  grid-column: 1/3;
}
*/
.your-projects {
  grid-area: 1/1/3/2;
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 50px repeat(minmax(230px, 1fr));

  gap: 1.5rem;
}

.head {
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
}
.announcements {
  grid-area: 1/2/2/3;
}
.trending {
}
